
body {
    background: #fafafa;
    color: #33333a;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #323232;
}

.main-color {
    background-color: #0e76a8 ;
}

.pointer {
    cursor: pointer;
}
.table tr td {
    vertical-align: middle;
}

.container-fluid-margins{
    padding-right: 45px;
    padding-left: 45px;
}
.form-control-margin{
    margin-bottom: 10px;
}