
body {
    background: #fafafa;
    color: #33333a;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #323232;
}

.main-color {
    background-color: #0e76a8 ;
}

.pointer {
    cursor: pointer;
}
.table tr td {
    vertical-align: middle;
}

.container-fluid-margins{
    padding-right: 45px;
    padding-left: 45px;
}
.form-control-margin{
    margin-bottom: 10px;
}
dd {
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
    text-transform: uppercase;
    padding: 4px 0 4px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 68px;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.legal {
    background-color: #75986E;
}
.not-legal {
    background-color: #AEAEAE;
}
.banned {
    background-color: #ac3a3a;
}