<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MTG CO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
    <a class="navbar-brand" href="/">MTGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid-margins container-fluid">
    <div class="card">
        <h5 class="card-header">Showing cards for: </h5>
        <div class="card-body">
            <h5 class="card-title"><span th:text="${cardBox.name}+', '+${cardBox.location}+', '+${cardBox.color}"></span></h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <h3>Deck cards</h3>
            <form class="mb-2" method="POST" th:action="@{/create/card/deck}">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="form-control" name="name" id="deckCardName" placeholder="Card name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="form-control" name="deckName" id="deckName" placeholder="Deck name" required>
                    </div>
                    <input type="hidden" name="boxId" th:value="${cardBox.id}" />
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary" style="margin-left: 5px">Add card</button>
                </div>
            </form>
            <hr>
            <input class="form-control form-control-margin" id="deckTableSearch" type="text" placeholder="Search..">
            <table class="table table-striped table-hover text-center" data-search="true">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Card name</th>
                    <th scope="col">Deck name</th>
                </tr>
                </thead>
                <tbody id="deckTable">
                    <tr th:each="card: ${cardBox.deckCards}">
                        <td th:text="${card.name}"></td>
                        <td th:text="${card.deckName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h3>Collection cards</h3>
            <form class="mb-2" method="POST" th:action="@{/create/card/collection}">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="form-control" name="name" id="collectionCardName" placeholder="Card name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="form-control" name="setName" id="setName" placeholder="Set name" required>
                    </div>
                    <input type="hidden" name="boxId" th:value="${cardBox.id}" />
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary" style="margin-left: 5px">Add card</button>
                </div>
            </form>
            <hr>
            <input class="form-control form-control-margin" id="collectionTableSearch" type="text" placeholder="Search..">
            <table class="table table-striped table-hover text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Card name</th>
                    <th scope="col">Set name</th>
                </tr>
                </thead>
                <tbody id="collectionTable">
                    <tr th:each="card: ${cardBox.collectionCards}">
                        <td th:text="${card.name}"></td>
                        <td th:text="${card.setName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h3>Loan cards</h3>
            <form class="mb-2" method="POST" th:action="@{/create/card/loan}">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="form-control" name="name" id="loanCardName" placeholder="Card name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input class="form-control" name="ownerFirstName" id="ownerFirstName" placeholder="Owner first name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" name="ownerLastName" id="ownerLastName" placeholder="Owner last name" required>
                    </div>
                </div>
                <div class="form-row">
                    <input type="hidden" name="boxId" th:value="${cardBox.id}" />
                    <button type="submit" class="btn btn-primary" style="margin-left: 5px">Add card</button>
                </div>
            </form>
            <hr>
            <input class="form-control form-control-margin" id="loanTableSearch" type="text" placeholder="Search..">
            <table class="table table-striped table-hover text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Card name</th>
                    <th scope="col">Owner name</th>
                </tr>
                </thead>
                <tbody id="loanTable">
                    <tr th:each="card: ${cardBox.loanCards}">
                        <td th:text="${card.name}"></td>
                        <td th:text="${card.ownerFirstName} + ' ' + ${card.ownerLastName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/cardBox.js}"></script>
</body>
</html>