<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MTG CO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
    <a class="navbar-brand" href="/">MTGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>
        Magic The Gathering card organizer
    </h1>
    <form class="mb-2" method="POST" th:action="@{/}" th:object="${box}">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">Name</label>
                <input class="form-control" name="name" id="inputName" placeholder="Name" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputLocation">Location</label>
                <input class="form-control" name="location" id="inputLocation" placeholder="Location" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputColor">Color</label>
                <input class="form-control" name="color" id="inputColor" placeholder="Color" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create new card box</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Color</th>
            <th scope="col">No. of cards</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="box: ${boxes}">
            <td th:text="${box.name}" th:onclick="|cardBoxPost('${box.id}');|"></td>
            <td th:text="${box.location}" th:onclick="|cardBoxPost('${box.id}');|"></td>
            <td th:text="${box.color}" th:onclick="|cardBoxPost('${box.id}');|">@mdo</td>
            <td th:onclick="|cardBoxPost('${box.id}');|">0</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>